---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Bebas";
    src: url("{{ site.baseurl }}/assets/fonts/bebas_neue/TTF's/BebasNeue\ Bold.ttf") format("truetype");
}

.page-header{
	background-image: url("{{ site.baseurl }}/assets/images/header.jpg");
}
.project-name{
  font-family: "Bebas";
	color: white;
    	text-shadow: 5px 5px 5px #000000;
  font-size: 100px;
}

.menu {
  position:absolute;
  margin-top: -52px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.menu li {
  float: left;
  display: inline-block;
  position: relative;
}

.menu li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu li a:hover {
  background-color: #111;
}

.menu ul {
  list-style-type: none;
  left: 25%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

