---
---

@import "{{ site.theme }}";

.page-header{
	background-image: url("{{ site.baseurl }}/assets/pictures/header.jpg");
}
.project-name{
	color: black;
}

.menu {
  position: absolute;
  width: 100%;
  margin-top: -18px;
}
.menu li {
  float: left;
}
.menu li a {
  display: block;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu li a:hover {
  background-color: #111;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 370px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}